@font-face {
    font-family: BraindYerevan;
    src: url('assets/fonts/BraindYerevan.otf');
}

body {
    font-family: "BraindYerevan", sans-serif;
    font-weight: 400;
    background-color: rgb(250, 250, 250);
}

h1{
    text-align: center;
    color: #3F51B5;
    margin: 50px;
    font-size: 50px;
}

.tax-law {
    font-size: 22px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    text-align: justify;
}

.paper {
    margin: 50px 0 100px 0;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.first-line {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.input {
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.value-input {
    width: 45%;
    margin-bottom: 15px !important;
}

.selects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.currency {
    width: 100px;
    margin: 0 10px !important;
}

.weight-input {
    position: relative;
    width: 83px;
    height: 56px;
    margin: 0;
}

.weight-input input {
    border: solid 1px #bdbdbd;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-indent: 12px;
    font-size: 16px;
    position: relative;
}

.weight-input input:focus {
    border: solid 2px #3F51b5;
    outline: none;
}

.weight-input::after {
    color: gray;
    content: 'Կգ';
    position: absolute;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    right: 9px;
    top: 15px;
}

.tax-price {
    border: solid 1px #C4C4C4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
}

.tax-price input {
    height: 20px;
    color: tomato;
    width: 100%;
}

.no-tax input {
    color: limegreen;
}

.checkbox-weight {
    margin-top: 40px;
}

.author-container{
    display: flex;
    align-items: center;
    width: max-content;
    margin: -50px 16px 0 auto;
}

.author-container p{
  font-size: 22px;
}

.author-container div{
    display: flex;
    margin-left: 20px;
}

.author-container img{
    height: 30px;
}

.author-container a{
    text-decoration: none;
    width: 100px;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width: 760px) {

    h1{
        /*font-size: 20px;*/
        margin: 20px;
    }

    .tax-law {
        font-size: 15px;
    }

    .paper{
        margin: 20px 0 100px 0;
    }

    .first-line {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .input {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .value-input {
        width: 90%;
    }

    .tax-price > div {
        width: 90%;
    }

    .tax-price {
        width: 100%;
        margin-top: 20px !important;
    }
}

.lds-ripple {
    display: inline-block;
    position: absolute;
    width: 150px;
    height: 150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.lds-ripple div {
    position: absolute;
    border: 4px solid gray;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}